@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C5C34;
}
header{
    font-family: 'Italianno', cursive;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#btnCarrin{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
    top: 0;   
    right: 0;
    margin-top: 25px;
    margin-right: 55px;
    border-radius: 5px;
    background-color:#a9b388;
    color:#e54616;
    font-weight: 800;
    cursor: pointer;
}

#btnCarrin:hover{
    background-color: #8e9c57;  
}

#forno{
    width: 40px;
    height:40px;
}
h1{
    font-size:3rem;
    color: #e54616;
    font-family: 'Italianno', cursive; 
}
main{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll ;
}

:-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

:-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5px;
}

:-webkit-scrollbar-thumb:hover{
    background: gray
}
footer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.modal{
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpoModal{
    position: relative;
    border: 1px solid #000;
    top: 20vh;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.oculto{
    display: none;
}

table th,
table td {  
    /* padding-right: 50px;  */
    border: none
} 

th{
    padding-left: 170PX;
    height: 4vh;
    border-bottom: 1px  solid #000;
    font-size: 2rem;

}

td{ 
    padding-left:330px;
    font-size: 2.5rem;
    height:50px;
}

table{
    background-color: #FCEC9F;
    width: 100%;
    font-family: 'Italianno', cursive; 
}

#btndetails {
    width: 150px;
    height: 45px;
    border-radius: 15px;
    border: none;
    background-color: #ccb42c;
    font-weight: 850;
    outline:none;
    cursor: pointer;
}

#btndetails:hover{
    height: 50px;
    background-color: #febb00;  
}

.corpoModal{
    width: 65%;
    background-color: #dba053;
    border: none;
    border-radius: 10px;
    gap: 120px
}

.conteudoModal{
    gap:30px
}

#id{
    height: 40px;
    width: 40px;
    padding-left: 15px;
    outline: none;
    border: none;
    border-radius: 3px;
}

#nome{
    width:225px;
    height: 40px;
    border:none;
    outline: none;
    border-radius: 3px;
    padding-left: 10px;
}

#btFechar{
    width: 90px;
    height: 35px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: #f8e483;
    border-radius: 3px;
    cursor: pointer
}

#btCadastrar{
    width: 120px;
    height: 35px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: #f8e483;
    border-radius: 3px;
    cursor: pointer;
}

p{
    color: white;
    font-family: 'Prompt', sans-serif;
    font-weight: 800;
}